[client]
port				=3355
socket				=/opt/mysql/5537/mysql.sock

[mysql]
no-beep
port				=3355
no-auto-rehash
compress
show-warnings
prompt				= \R:\m \d>\_

[mysqld_safe]
log-error                       =/opt/mysql/5537/mysqld_5537.log

[mysqld]
user				=mysql
port				=3355
basedir				=/usr/local/mysql-advanced-5.5.37-linux2.6-x86_64
datadir				=/opt/mysql/5537/data
socket				=/opt/mysql/5537/mysql.sock
lc_messages_dir			=/usr/local/mysql-advanced-5.5.37-linux2.6-x86_64/share
default-storage-engine		=INNODB
sql-mode			="STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
lower_case_table_names		=1
general-log			=1
general_log_file		=khollman_5537.log
slow-query-log			=1
slow_query_log_file		=khollman_5537-slow.log
long_query_time			=10
log-error			=khollman_5537.err
max_connections			=100
query_cache_type		=0
query_cache_size		=0
innodb_file_per_table		=1
innodb_log_buffer_size		=4M
innodb_buffer_pool_size		=75M
innodb_log_file_size		=10M
innodb_flush_log_at_trx_commit	=2
innodb_data_home_dir		=/opt/mysql/5537/data
innodb_data_file_path		=ibdata1:10M;ibdata2:10M:autoextend

# Replication
server-id			=1
log-slave-updates		=TRUE
sync_binlog			=1
sync_master_info		=1
slave_transaction_retries	=0
report-port			=3355
log-bin				=khollman_5537
binlog_format			=ROW
report-host			=khollman-es
#replicate-do-db		=nexus

